
    body h1{
        background-color: #033048
    }
header{
    background-color: #f0efef
}
button{
    background-color: #f9e42e
}
footer{
    background-color: #121212
}

h2{
    
}