/******************************************
/* SETUP
/*******************************************/

/* Box Model */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* FONTS
/*******************************************/

/* font-family: "Open Sans", Arial, sans-serif */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/******************************************
/* BASE STYLES
/*******************************************/


body {
    color: #000;
    font-size: 12px;
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
  
.top-left {
    position: absolute;
    top: 20px;
    left: 80px;
    font-weight: 800	;
    font-family: "Open Sans"; 
    color: white; 
font-size: 24px; }
.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600	;
    font-family: "Open Sans"; 
    color: white; 
    font-size: 24px; }
    .underCenter{

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 800	;
        font-family: "Open Sans"; 
        color: #033048; 
        font-size: 14px;
            background-color:#f9e42e; 
            width: 100px;
            height: 50px;
            border: 5px solid #f9e42e ;
            padding: 10px;
             margin: 2px;
             border-radius: 5px;}
           
    .benefite{
        position: absolute;
        top: 750px;
        left: 80px;
        font-weight: 800	;
        font-family: "Open Sans"; 
        font-weight: 600	;
        font-size: 24px; 
        color: #033048; 
    }
    .text{

        position: absolute;
        top: 800px;
        left: 80px;
        font-weight: 800	;
        font-family: "Open Sans"; 
        font-weight: lighter	;
        font-size: 13px; 
        color:#606161;
    }
    ul{

        position: absolute;
        top: 820px;
        left: 80px;
        font-weight: 800	;
        font-family: "Open Sans"; 
        font-weight: lighter	;
        font-size: 13px; 
        color:#606161;


    }
    li{        list-style-type: disc;
    }
.center-down{
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: lighter	;
    font-family: Italic; 
    font-size: 18px;
    color: whitesmoke;
}






